// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #223C91;
$light_blue: #40C0F3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
