// Define variables for your color scheme

// For example:
$red: #e99091;
$blue: #223C91;
$light_blue: #40C0F3;
$yellow: #fcd895;
$orange: #E67E22;
$green: #89ddb8;
$gray: #0E0000;
$light-gray: #F4F4F4;
$mid-gray: #EEEEEE;
