<div class="card-product">
  <%= link_to credit_card_path(card), :action => 'go' do %>
    <img src="https://realtytax.ca/wp-content/uploads/2021/07/Credit-Card-Visa-Master-Card.jpg"/>
    <div class="card-product-infos">
      <div class="d-flex align-items-center">
        <div>
          <p><strong>Card Type:</strong> <%=card.card_type%></p>
          <p><strong>Credit Limit: </strong>$<%= card.credit_limit %></p>
        </div>
        <div class="pricing text-center">
          <small>You pay:</small>
          <p><strong>$<%= card.price_per_day %></strong></p>
          <small>per day</small>
        </div>
      </div>
    </div>
  <% end %>
</div>
