
<div class="credit-card">
  <img src="https://www.costco.ca/wcsstore/CostcoCABCCatalogAssetStore/feature-pages/17w1217-membership-card-executive.png" />
  <div class="card-trip-infos">
    <div>
      <h2>Costco Card</h2>
      <p>Make your trips to Costco worth it!</p>
    </div>
    <h2 class="card-trip-pricing">$50</h2>
  </div>
</div>
