
<div class="text-center">
  <h3>Here are all the credit cards at your disposal: </h3>
</div>

<% @credit_cards.each do |card| %>
<div class= "row justify-content-center py-2">
  <div class="card-product py-3">
    <img src="https://realtytax.ca/wp-content/uploads/2021/07/Credit-Card-Visa-Master-Card.jpg"/>
    <div class="card-product-infos">
      <ul class="list-unstyled">
        <li><strong>Cardholder:</strong> <%= link_to card.cardholder, credit_card_path(@credit_card) %></li>
        <li><strong>Credit Limit: </strong><%= card.credit_limit %>$</li>
      </ul>
    </div>
  </div>
</div>

<% end %>
