<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-8">
      <h2>Here are all the credit cards at your disposal: </h2>
      <div class="row py-4">
        <% @credit_cards.each do |card| %>
          <div class="col-12 col-xl-6 mb-4">
            <%= render "card", card: card %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="mid-gray p-4 h-100">
        <%= link_to raw('<i class="fa-solid fa-plus"></i> Add Credit Card'), new_credit_card_path, class: "btn d-block btn-primary btn-lg mb-4" %>
        <%= link_to raw('<i class="fa-solid fa-address-card"></i> My reservations'), reservation_path(current_user), class: "btn d-block btn-primary btn-lg mb-4" %>
        <%= link_to raw('<i class="fa-solid fa-credit-card"></i> My cards'), my_cards_path, class: "btn d-block btn-primary btn-lg mb-4" %>
      </div>
    </div>
  </div>
</div>
