<h3>Here are all the credit cards at your disposal: </h3>
<% @credit_cards.each do |card| %>
  <ul>
  <li>Cardholder: <%= link_to card.cardholder, credit_card_path(card) %></li>
  <li>Credit Limit: <%= card.credit_limit %>$</li>
  </ul>
<% end %>
