<div class="container py-5">
  <h3 class="text-center">Your cards: </h3>
  <div class="row pt-4">
    <% @credit_cards.each do |card| %>
      <div class="col-12 col-md-6 col-xl-4 mb-4">
        <%= render "card", card: card %>
      </div>
    <% end %>
  </div>
</div>
