<div class="container py-4">
  <h3>Please enter your credit card information</h3>
  <% if user_signed_in? %>
    <%= render "form", credit_card: @credit_card %>
    <% @credit_card.user_id = current_user.id %>
  <% end %>
  <%= link_to "Back", credit_cards_path, class: "btn btn-primary my-3" %>
</div>
