<div class="footer">
      <div class="footer-links">
        <a href="https://github.com/ShadowSpin1/credify"><i class="fab fa-github"></i></a>
      </div>
      <div class="footer-copyright">
        © Credify. All rights reserved.
      </div>
    </div>
