
<div class= "container ">
    <h1>Credify</h1>
    <h2>Do you struggle to find a credit card that fits your needs?</h2>
    <h2>We've got you!!!!</h2>

  <div>
    <div class="row">
        <div class="col">
            <h3>Choose from hundreds of incredible credit cards! </h3>
        </div>
      <div id="carousel_home" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "nb.png", alt: "credit card photo", class: "d-block w-80 carousel_image" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "rbc.png", alt: "credit card photo", class: "d-block w-80 carousel_image" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "td.jpeg", alt: "credit card photo", class: "d-block w-80 carousel_image" %>
          </div>
          </div>
        </div>
     </div>
   <div>
    <button type="button" class="btn btn-primary btn-lg">Sign Up Now</button>
  </div>

  </div>
</div>
<p>Find me in app/views/pages/home.html.erb</p>
