.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  > a {
    display: flex;
    align-items: center;
    height: 100%;
    color: $gray;
    text-decoration: none;
  }
  .image-overlay:before{
    background-color: rgba(0,0,0,0.25);
    content:"";
    height: 100%;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  .image-overlay {
    position: relative;
    height: 100%;
  }
  img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }
  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  p {
    line-height: 1.35em;
    margin: 0;
  }
  .pricing {
    min-width: 60px;
    line-height: 1em;
  }
  .pricing p {
    font-size: 1.3em;
  }
}
.card-product .card-product-infos {
  padding: 16px;
  flex-grow: 1;
  > div {
    gap: 15px;
    justify-content: space-between;
  }
}
.card-product > a:hover {
  color: $blue;
  img {
    opacity: 0.9;
  }
}

/* Categories styles */
.card-category {
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.card-category {
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.card-category a {
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  display: flex;
  font-size: 1.75em;
  font-weight: bold;
  height: 180px;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 100%;
}
.card-category a:hover {
  background-color: rgba(0,0,0,0.3);
}
